<ul class="alert alert-danger" *ngIf="errors?.length > 0">
    <li *ngFor="let err of errors">
        {{ err }}
    </li>
</ul>
<div class="card text-dark bg-light mb-3">
    <div class="card-header bg-info">{{title}}</div>
    <div class="card-body">
        <form onsubmit="this.reset()" #formularioForm="ngForm" autocomplete="off">
            <div class="from-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" [(ngModel)]="formulario.email" #email="ngModel" required>
                <div class="alert alert-danger my-2" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors['required']">
                        *Email es Requerido
                    </div>
                    <div *ngIf="email.errors?.['email']">
                        *Email debe tener un formato valido
                    </div>
                </div>
            </div>
            <div class="form-group my-2">
                <label for="opciones">Selecciones su genero musical favorito</label>
                <select [(ngModel)]="formulario.opcion" [compareWith]="compareOpciones" class="form-group form-select" name="opciones" id="opciones">
                    <option [ngValue]="undefined">---Seleccione Opcion---</option>
                    <option *ngFor="let op of opciones" [ngValue]="op">{{op.genero}}</option>
                    <div class="alert alert-danger my-2" *ngIf="">
                       *Debe seleccionar una opcion              
                    </div>
                </select>
            </div>
            <div class="from-group">
                <button class="btn btn-primary my-3 " type="submit " id="submit " name="submit " role="button " (click)="create() " [disabled]="!formularioForm.form.valid ">Enviar</button>
            </div>
        </form>
    </div>
</div>